<aside class="sidebar">
    <h2>WYDGARDEN</h2>
    <ul>
        <li>
            <a href="/home">
                <i class="fas fa-home" style="margin-right:8px; width:20px;"></i> Inicio
            </a>
        </li>
        <li>
            <a href="/catalogo">
                <i class="fas fa-store" style="margin-right:8px; width:20px;"></i> Catálogo
            </a>
        </li>

        {% if current_user.is_authenticated %}
        <li>
            <a href="/carrito">
                <i class="fas fa-shopping-cart" style="margin-right:8px; width:20px;"></i> Carrito
            </a>
        </li>

        <li>
            <a href="/perfil">
                <i class="fas fa-user" style="margin-right:8px; width:20px;"></i> Mi Perfil
            </a>
        </li>
        <li>
            <a href="/mis-pqrs">
                <i class="fas fa-history" style="margin-right:8px; width:20px;"></i> Mis Solicitudes
            </a>
        </li>

        {% if current_user.rol.nombre in ['ADMIN', 'EMPLEADO'] %}
        <li>
            <a href="/dashboard">
                <i class="fas fa-chart-line" style="margin-right:8px; width:20px;"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/admin/pqrs">
                <i class="fas fa-envelope-open-text" style="margin-right:8px; width:20px;"></i> Ver PQRS
            </a>
        </li>
        {% endif %}

        {% if current_user.rol.nombre == 'ADMIN' %}
        <li>
            <a href="/admin/productos">
                <i class="fas fa-box" style="margin-right:8px; width:20px;"></i> Gestionar Productos
            </a>
        </li>
        {% endif %}
        
        {% endif %}
    </ul>
</aside>