<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>WYDGARDEN</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/initstyle.css') }}">
  <style>

  </style>
</head>

<body>

  <img id="logo" class="logo-element" src="{{ url_for('static', filename='img/logo.ico') }}" alt="Logo Weed Garden" />

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const logo = document.getElementById('logo');
      logo.addEventListener('animationend', () => {
        window.location.href = '/home';
      });
    });
  </script>

</body>

</html>